.slide-three__gradient {
  background: linear-gradient(
    to bottom,
    rgba(209, 209, 209, 0.15) 0%,
    rgba(240, 47, 23, 0) 75%
  );
  border-radius: 50px 50px 0 0;
  display: grid;
  grid-row-gap: 17px;
  padding: 20px 10px;
}