.slide-one__pulse {
  position: relative;
}

.slide-one__pulse::after,
.slide-one__pulse::before {
  content: "";
  position: absolute;
  border: 1px solid orangered;
  opacity: 0;
  border-radius: 50%;
  animation: pulse 3s linear infinite;
}

.slide-one__pulse::after {
  animation-delay: 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
