.slide-three__container_three {
  grid-template-columns: 31.5% 37% 31.5%; 
  background-image: url(../../../../images/arrows.png);
  background-repeat: no-repeat;
  background-position: top 100px left 289px;
}