.menu__link {
  display: block;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  background: transparent url(../../../images/ellipse_menu_default.png) no-repeat;
  background-size: contain;
}

.menu__link:hover {
  background: transparent url(../../../images/ellipse_menu_active.png) no-repeat;
  background-size: contain;
}
