.slide-three__element_one:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.slide-three__element_one:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.slide-three__element_one:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}